.header{
    background-color: green;
    color: white;
    padding-top: 1rem ;
    padding-bottom: 1rem;


.MyStocks{
    margin: 2rem 3rem;
    padding: 2rem 3rem;
}

}

.container{
    // display: flex;
    // flex-flow: column wrap;
    height: 5rem;
}